/* .header_container{
    width: 100%;
    height: 50%;
} */


nav{
    display: flex;
    flex-wrap: wrap;
    padding: 4rem 0;
    justify-content: space-between;
    align-items: center;
}

h1{
    font-size: 3rem;
    margin-left: 3rem;

}

.link {
    text-decoration: none;
    font-size: 2rem;
    color: var(--color);
    position: relative;
}

.link::before,.link::after{
    content: "";
    width: 100%;
    height: 3px;
    background-color: red;
    position: absolute;
 }

 .link::before{
    top:0;
    left:0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s;
 }

 .link::after{
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .5s;
 }


 .link:hover::before, .link:hover::after{
     transform: scaleX(1);
 }



 .theme_switch_wrapper{
    position: relative;
    margin-right: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
 }

 .theme_switch_wrapper em{
     margin-left: 1rem;
 }

/* The switch - the box around the slider */
.switch {
    /* --moon-mask: ; */
     font-size: 17px;
     position: relative;
     display: inline-block;
     width: 3.5em;
     height: 2em;
    }
    
    /* Hide default HTML checkbox */
    .switch .toggle_check {
     opacity: 0;
     width: 0;
     height: 0;
    }
    
    /* The slider */
    .slider {
     position: absolute;
     cursor: pointer;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: #f4f4f5;
     transition: .4s;
     border-radius: 30px;
    }
    
    .slider:before {
     position: absolute;
     content: "";
     height: 1.4em;
     width: 1.4em;
     border-radius: 20px;
     left: 0.3em;
     bottom: 0.3em;
     background: linear-gradient(40deg,#ff0080,#ff8c00 70%);
     ;
     transition: .4s;
    }
    
    .toggle_check:checked + .slider {
     background-color: #303136;
    }
    
    .toggle_check:checked + .slider:before {
     transform: translateX(1.5em);
     background: #303136;
     box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -5px 0 0 #a3dafb;
    }