

.container_buttons{
    position: relative;
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    align-items: center;
    background-color: red;

}

.container_list{
    position: relative;
}

button {
    background: #FBCA1F;
    padding: 0.6rem 0.8rem;
    font-weight: 900;
    font-size: 1.7rem;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
   }
   
   button:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
   }
   
   button:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
   }



.dropdown{
    position: relative;
}

.dropdown_menu{
    position: absolute;
    left: 0;
    z-index: 3;
    pointer-events: none;
    top:calc(100% + .5rem);
    background-color: blue;
    box-shadow: 0 2px 15px 0 rgba(0,0,0,.3);
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;

}


.dropdown > .link:focus + .dropdown_menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.btn_action:active{
    pointer-events: auto;
}

/* .dropdown_menu{
    display: none;
    
}

.container_list:hover .dropdown_menu{
    display: grid;
    position: absolute;
    background-color: blue;

}
.container_list:hover .dropdown_menu ul{
    display: grid;
} */