

/* form{
    margin-right: 3rem;
} */


.input {
    line-height: 28px;
    font-size: 1.7rem;
    border: 2px solid transparent;
    border-bottom-color: #777;
    padding: .5rem 0;
    outline: none;
    background-color: transparent;
    color: var(--color); /*#0d0c22*/
    transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
   }
   
   .input:focus, .input:hover {
    outline: none;
    padding: .2rem 1rem;
    border-radius: 1rem;
    border-color: #7a9cc6;
   }
   
   .input::placeholder {
    color: var(--color);
   }
   
   .input:focus::placeholder {
    opacity: 0;
    transition: opacity .3s;
   }

   .input_btn {
    background: #FBCA1F;
    font-family: inherit;
    padding: 0.6rem 0.8rem;
    font-weight: 900;
    font-size: 1.7rem;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
   }
   
   .input_btn:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
   }
   
   .input_btn:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
   }